In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [996]:
df = pd.read_excel(r"C:\Users\Dell\OneDrive\Desktop\advance web scraping\Nakri_data_set\Skill_Gap_Analysis_Tool\Data\filtered_result.xlsx")

In [1002]:
df.head()

,Job_role,Company,job_pay,location,review,Job post length,min_year,max_year,more_branch,+3_branches,days,skill_1,skill_2,skill_3,skill_4,skill_5,skill_6,skill_7,skill_8,is_remote,norm_review,norm_branches,norm_max_year,composite_score,Company Size,Job Category,Primary Skill Category
0,Data Analyst,Nvent,Not disclosed,Mumbai,4.1,12,2,3,1,0,1,Data Analysis,power BI,Data Analyst,Tableau,analytical skills,customer support,Analytical Skill,Bi,0,0.775,0,0.100000,0.875000,Medium,Data and Analysis,Data Analysis
1,Data Analyst,Techup Labs,Not disclosed,Remote,3.9,12,1,4,1,0,1,Data validation,github,Google Analytics,Data modeling,Data Analyst,Selenium,data visualization,Python,1,0.725,0,0.133333,0.858333,Small,Data and Analysis,Data Analysis
2,Data Analyst,Osttra,Not disclosed,Ahmedabad,3.8,12,1,3,1,0,1,Supply chain,Content management,Automation,Publishing,Process improvement,Analytical,Analytics,Secondary research,0,0.700,0,0.100000,0.800000,Small,Data and Analysis,Supply Chain Management
3,Data Analyst,Lightcast,Not disclosed,Remote,4.0,25,0,4,1,0,22,Data analysis,Advance excel,Machine learning,Linguistics,Data quality,Data analytics,Data Analyst,SQL,1,0.750,0,0.133333,0.883333,Medium,Data and Analysis,Data Analysis
4,Data Scientist,Tems Tech Solutions,Not disclosed,Chennai,4.2,28,2,5,1,0,4,Computer science,Automation,data science,Machine learning,Data collection,Data structures,Data Analyst,Analytics,0,0.800,0,0.166667,0.966667,Large,Data and Analysis,Supply Chain Management
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9144,Associate,Eurofins,Not disclosed,Bengaluru,3.0,14,1,3,1,0,30,remediation,Change management,Information Security Analyst,Web technologies,Cloud Services,Information security,Vulnerability,Vulnerability management,0,0.500,0,0.100000,0.600000,Very Small,Others,Business Intelligence (BI)
9145,Developer,Vimerse Infotech,Not disclosed,Chennai,3.5,31,2,7,1,0,30,css,web services,hybris,impex,jsp,sap erp,hibernate,sap hybris,0,0.625,0,0.233333,0.858333,Small,Developer and Engineering,Research and Analysis
9146,Chat Support Executive,Leading MNC BPO Company,2.75-4,"Mohali, Punjab, Chandigarh, Chandigarh, Kharar, Punjab",4.0,49,0,5,6,1,4,Query Resolution,Chat Process,Fresher,Inbound Process,Blended Process,bpo,Email Support,cce,0,0.750,1,0.166667,1.916667,Very Large,Customer Support,Others
9147,Chat Support Executive,Leading MNC BPO Company in Mohali location,2.5-4,"Mohali, Punjab, Chandigarh, Chandigarh, Kharar, Punjab",4.0,45,0,5,6,1,4,Email Process,Blended Process,Cce,customer service,Solving Queries,Non Voice,Bpo Non Voice,International Chat Process,0,0.750,1,0.166667,1.916667,Very Large,Customer Support,International
9148,Tech_role/lead_role,Accenture,Not disclosed,Pune,4.0,20,2,4,1,0,26,sap,application development,software development life cycle,troubleshooting,sdlc,rest,web services,sap erp,0,0.750,0,0.133333,0.883333,Medium,Others,Performance Management

In [1017]:
# Display the first few rows of the dataset
data_head = df.head()

# Summarize the basic statistics
data_summary = df.describe(include='all')

# Check for any missing values
missing_values = df.isnull().sum()

data_head, data_summary, missing_values

(         Job_role              Company        job_pay   location  review  \
 0    Data Analyst                Nvent  Not disclosed     Mumbai     4.1
 1    Data Analyst          Techup Labs  Not disclosed     Remote     3.9
 2    Data Analyst               Osttra  Not disclosed  Ahmedabad     3.8
 3    Data Analyst            Lightcast  Not disclosed     Remote     4.0
 4  Data Scientist  Tems Tech Solutions  Not disclosed    Chennai     4.2

    Job post length  min_year  max_year  more_branch  +3_branches  days  \
 0               12         2         3            1            0     1
 1               12         1         4            1            0     1
 2               12         1         3            1            0     1
 3               25         0         4            1            0    22
 4               28         2         5            1            0     4

             skill_1             skill_2           skill_3           skill_4  \
 0     Data Analysis            power BI      Data Analyst           Tableau
 1   Data validation              github  Google Analytics     Data modeling
 2      Supply chain  Content management        Automation        Publishing
 3     Data analysis       Advance excel  Machine learning       Linguistics
 4  Computer science          Automation      data science  Machine learning

                skill_5           skill_6             skill_7  \
 0    analytical skills  customer support    Analytical Skill
 1         Data Analyst          Selenium  data visualization
 2  Process improvement        Analytical           Analytics
 3         Data quality    Data analytics        Data Analyst
 4      Data collection   Data structures        Data Analyst

               skill_8  is_remote  norm_review  norm_branches  norm_max_year  \
 0                  Bi          0        0.775              0       0.100000
 1              Python          1        0.725              0       0.133333
 2  Secondary research          0        0.700              0       0.100000
 3                 SQL          1        0.750              0       0.133333
 4           Analytics          0        0.800              0       0.166667

    composite_score Company Size       Job Category   Primary Skill Category
 0         0.875000       Medium  Data and Analysis            Data Analysis
 1         0.858333        Small  Data and Analysis            Data Analysis
 2         0.800000        Small  Data and Analysis  Supply Chain Management
 3         0.883333       Medium  Data and Analysis            Data Analysis
 4         0.966667        Large  Data and Analysis  Supply Chain Management  ,
                   Job_role    Company        job_pay   location       review  \
 count                 9149       9149           9149       9149  9149.000000
 unique                  32       5101            278       1049          NaN
 top     Software Developer  Accenture  Not disclosed  Bengaluru          NaN
 freq                  1066        230           8017       1294          NaN
 mean                   NaN        NaN            NaN        NaN     3.810373
 std                    NaN        NaN            NaN        NaN     0.768217
 min                    NaN        NaN            NaN        NaN     1.000000
 25%                    NaN        NaN            NaN        NaN     3.500000
 50%                    NaN        NaN            NaN        NaN     4.000000
 75%                    NaN        NaN            NaN        NaN     4.300000
 max                    NaN        NaN            NaN        NaN     5.000000

         Job post length     min_year     max_year  more_branch  +3_branches  \
 count       9149.000000  9149.000000  9149.000000  9149.000000  9149.000000
 unique              NaN          NaN          NaN          NaN          NaN
 top                 NaN          NaN          NaN          NaN          NaN
 freq                NaN          NaN          NaN          NaN          NaN
 mean          25.848180     1.318723     4.425183     1.795169     0.157613
 std           12.869489     0.740233     1.687230     1.747449     0.364398
 min            3.000000     0.000000     0.000000     0.000000     0.000000
 25%           17.000000     1.000000     3.000000     1.000000     0.000000
 50%           22.000000     1.000000     4.000000     1.000000     0.000000
 75%           32.000000     2.000000     5.000000     2.000000     0.000000
 max           70.000000     2.000000    30.000000    13.000000     1.000000

                days        skill_1        skill_2        skill_3 skill_4  \
 count   9149.000000           9149           9149           9149    9149
 unique          NaN           1820           2104           2348    2434
 top             NaN  Data analysis  Data analysis  Data analysis     SQL
 freq            NaN            582            596            312     287
 mean      16.572194            NaN            NaN            NaN     NaN
 std       12.292464            NaN            NaN            NaN     NaN
 min        0.000000            NaN            NaN            NaN     NaN
 25%        4.000000            NaN            NaN            NaN     NaN
 50%       14.000000            NaN            NaN            NaN     NaN
 75%       30.000000            NaN            NaN            NaN     NaN
 max       30.000000            NaN            NaN            NaN     NaN

            skill_5     skill_6 skill_7 skill_8    is_remote  norm_review  \
 count         9149        9149    9149    9149  9149.000000  9149.000000
 unique        2490        2369    2301    2213          NaN          NaN
 top     Javascript  Javascript    HTML     SQL          NaN          NaN
 freq           269         266     212     298          NaN          NaN
 mean           NaN         NaN     NaN     NaN     0.027872     0.702593
 std            NaN         NaN     NaN     NaN     0.164615     0.192054
 min            NaN         NaN     NaN     NaN     0.000000     0.000000
 25%            NaN         NaN     NaN     NaN     0.000000     0.625000
 50%            NaN         NaN     NaN     NaN     0.000000     0.750000
 75%            NaN         NaN     NaN     NaN     0.000000     0.825000
 max            NaN         NaN     NaN     NaN     1.000000     1.000000

         norm_branches  norm_max_year  composite_score Company Size  \
 count     9149.000000    9149.000000      9149.000000         9149
 unique            NaN            NaN              NaN            5
 top               NaN            NaN              NaN       Medium
 freq              NaN            NaN              NaN         1898
 mean         0.157613       0.147506         1.007712          NaN
 std          0.364398       0.056241         0.420943          NaN
 min          0.000000       0.000000         0.066667          NaN
 25%          0.000000       0.100000         0.783333          NaN
 50%          0.000000       0.133333         0.916667          NaN
 75%          0.000000       0.166667         1.066667          NaN
 max          1.000000       1.000000         2.275000          NaN

                      Job Category Primary Skill Category
 count                        9149                   9149
 unique                          8                     52
 top     Developer and Engineering          Data Analysis
 freq                         3402                   3066
 mean                          NaN                    NaN
 std                           NaN                    NaN
 min                           NaN                    NaN
 25%                           NaN                    NaN
 50%                           NaN                    NaN
 75%                           NaN                    NaN
 max                           NaN                    NaN  ,
 Job_role                  0
 Company                   0
 job_pay                   0
 location                  0
 review                    0
 Job post length           0
 min_year                  0
 max_year                  0
 more_branch               0
 +3_branches               0
 days                      0
 skill_1                   0
 skill_2                   0
 skill_3                   0
 skill_4                   0
 skill_5                   0
 skill_6                   0
 skill_7                   0
 skill_8                   0
 is_remote                 0
 norm_review               0
 norm_branches             0
 norm_max_year             0
 composite_score           0
 Company Size              0
 Job Category              0
 Primary Skill Category    0
 dtype: int64)

#### Fill Missing Values with a Placeholder  Replace missing values with a placeholder like  or "None".

###  Relaced the nan value in skill columns with none value

In [1018]:
skills_columns = ['skill_2', 'skill_3', 'skill_4', 'skill_5', 'skill_6', 'skill_7', 'skill_8']
df[skills_columns] = df[skills_columns].fillna('None')

## Now we will handle the job pay Columns

### So we are not making perfect model so will seperate disclosed and undiscolsed row and get median from the disclosed row and the relace it with not disclose row

In [1025]:
disclosed_pay = df[~(df['job_pay']== "Not disclosed")]
not_disclosed_pay = df[df['job_pay']== "Not disclosed"]

In [ ]:
print(f"price know = {disclosed_pay.shape[0]} \nprice unknow = {not_disclosed_pay.shape[0]}")

In [1028]:
disclosed_pay.head()

,Job_role,Company,job_pay,location,review,Job post length,min_year,max_year,more_branch,+3_branches,days,skill_1,skill_2,skill_3,skill_4,skill_5,skill_6,skill_7,skill_8,is_remote,norm_review,norm_branches,norm_max_year,composite_score,Company Size,Job Category,Primary Skill Category
14,Data Analyst,Outscal Technologies,10-20,Remote,4.3,12,0,3,1,0,19,Data Analysis,Data Visualization,Tableau,Python,SQL,Data Science,Data,Science,1,0.825,0,0.100000,0.925000,Medium,Data and Analysis,Data Analysis
15,Data Analyst,Redbus,4-7,Bangalore Rural,4.3,12,1,3,2,0,7,SQL,MIS Reporting,VLOOKUP,Data Analysis,Advance excel,Dashboards,Data Reporting,Advance excel,0,0.825,0,0.100000,0.925000,Medium,Data and Analysis,Data Analysis
16,Data Analyst,Amiha Agro,2.5-4.5,Ahmedabad(Shyamal Cross Road),2.2,12,2,4,3,1,5,Statistical Data Analysis,Data Analytics,Data Visualization,Data Reporting,Reporting,Statistics,Analytics,Data,0,0.300,1,0.133333,1.433333,Very Large,Data and Analysis,Data Analysis
19,Data Analyst,A K Infra Reality Developers,1.75-3,Lucknow,3.1,12,2,4,1,0,2,Data Visualization,Data Extraction,Statistics,Data Reporting,Analytics,Business Intelligence,Data Management,Data Analysis,0,0.525,0,0.133333,0.658333,Very Small,Data and Analysis,Data Analysis
21,Data Analyst,Bolla Management,4.75-6.5 (Including Variable: 10.0%),Hyderabad(Kondapur),5.0,12,2,6,1,0,7,Vba Coding,Power Bi,Advance excel,SQL,SQL,Advance excel,Analytical Skills,SQL,0,1.000,0,0.200000,1.200000,Very Large,Data and Analysis,Business Intelligence (BI)

In [1131]:
data = disclosed_pay.copy()

In [ ]:


# Splitting 'job_pay' into 'starting_range' and 'ending_range'
data[['starting_range', 'ending_range']] = data['job_pay'].str.split('-', 1, expand=True)

# Cleaning up text within ranges
data['starting_range'] = data['starting_range'].str.replace(r'\(.*\)', '').str.strip()
data['ending_range'] = data['ending_range'].str.replace(r'\(.*\)', '').str.strip()

# Replace 'No data' with NaN to facilitate forward filling
data['starting_range'].replace('No data', np.nan, inplace=True)
data['ending_range'].replace('No data', np.nan, inplace=True)

# Forward fill missing values
data['starting_range'] = data['starting_range'].fillna(method='ffill')
data['ending_range'] = data['ending_range'].fillna(method='ffill')

# Removing 'Lacs' from numeric ranges
data['starting_range'] = data['starting_range'].str.replace('Lacs', '').str.strip()
data['ending_range'] = data['ending_range'].str.replace('Lacs', '').str.strip()

# Converting to numeric if needed
# # Displaying value counts for each range
print(data['starting_range'].value_counts())
print(data['ending_range'].value_counts())

# Optionally, drop the original 'job_pay' column
data.drop(columns=['job_pay'], inplace=True)

# Now 'data' contains cleaned up salary ranges with numeric values where applicable

In [1142]:
data["starting_range"].value_counts().index

Index(['3', '2', '2.5', '1', '4', '2.25', '5', '1.5', '1.75', '50,000', '1.25',
       '3.5', '2.75', '6', '10', '3.25', '7', '8', '4.5', '3.75', '15', '5.5',
       '9', '6.5', '4.25', '4.75', '20', '7.5', '12', '14', '90,000', '70,000',
       '25', '80,000', '11', '60,000', '17', '9.5', '90', '35', '80'],
      dtype='object')

In [1164]:
def convert_to_lakh_or_thousand(value):
    value = str(value).strip().replace(',', '')  # Remove commas and extra spaces
    if 'Cr' in value:  # If the value is in crores
        return float(value.replace('Cr', '').strip()) * 10000000  # 1 Cr = 100 lakh
    elif ',' in value:  # If the value contains a comma, assume it's in thousand
        return float(value.replace(',', ''))  # Directly convert to float without multiplying by 1000
    else:
        try:
            numeric_value = float(value)
            if numeric_value < 100:  # Assume values less than 100 are in lakh
                return numeric_value * 100000  # Convert to lakh
            else:
                return numeric_value  # Return the original numeric value
        except ValueError:
            return float(value.split('.')[0]) * 100000  # Convert to lakh for values like '3.5'

# Convert each value in data["starting_range"] using convert_to_lakh_or_thousand function
converted_prices = data['ending_range'].apply(convert_to_lakh_or_thousand).tolist()
data['ending_range'] = converted_prices

In [1166]:
# Z-Score Normalization
data[["starting_range","ending_range"] ]

      starting_range  ending_range
14         1000000.0     2000000.0
15          400000.0      700000.0
16          250000.0      450000.0
19          175000.0      300000.0
21          475000.0      650000.0
...              ...           ...
9109        300000.0      350000.0
9112        300000.0      500000.0
9135        400000.0      800000.0
9146        275000.0      400000.0
9147        250000.0      400000.0

[1132 rows x 2 columns]

In [1172]:
data.head(
    
)

,Job_role,Company,location,review,Job post length,min_year,max_year,more_branch,+3_branches,days,skill_1,skill_2,skill_3,skill_4,skill_5,skill_6,skill_7,skill_8,is_remote,norm_review,norm_branches,norm_max_year,composite_score,Company Size,Job Category,Primary Skill Category,starting_range,ending_range,average_range
14,Data Analyst,Outscal Technologies,Remote,4.3,12,0,3,1,0,19,Data Analysis,Data Visualization,Tableau,Python,SQL,Data Science,Data,Science,1,0.825,0,0.100000,0.925000,Medium,Data and Analysis,Data Analysis,1000000.0,2000000.0,1500000.0
15,Data Analyst,Redbus,Bangalore Rural,4.3,12,1,3,2,0,7,SQL,MIS Reporting,VLOOKUP,Data Analysis,Advance excel,Dashboards,Data Reporting,Advance excel,0,0.825,0,0.100000,0.925000,Medium,Data and Analysis,Data Analysis,400000.0,700000.0,550000.0
16,Data Analyst,Amiha Agro,Ahmedabad(Shyamal Cross Road),2.2,12,2,4,3,1,5,Statistical Data Analysis,Data Analytics,Data Visualization,Data Reporting,Reporting,Statistics,Analytics,Data,0,0.300,1,0.133333,1.433333,Very Large,Data and Analysis,Data Analysis,250000.0,450000.0,350000.0
19,Data Analyst,A K Infra Reality Developers,Lucknow,3.1,12,2,4,1,0,2,Data Visualization,Data Extraction,Statistics,Data Reporting,Analytics,Business Intelligence,Data Management,Data Analysis,0,0.525,0,0.133333,0.658333,Very Small,Data and Analysis,Data Analysis,175000.0,300000.0,237500.0
21,Data Analyst,Bolla Management,Hyderabad(Kondapur),5.0,12,2,6,1,0,7,Vba Coding,Power Bi,Advance excel,SQL,SQL,Advance excel,Analytical Skills,SQL,0,1.000,0,0.200000,1.200000,Very Large,Data and Analysis,Business Intelligence (BI),475000.0,650000.0,562500.0

{'skill_1': 14      (1500000.0, 187500.0)
 15        (550000.0, 68750.0)
 16        (350000.0, 43750.0)
 19        (237500.0, 29687.5)
 21        (562500.0, 70312.5)
                 ...
 9109      (325000.0, 40625.0)
 9112      (400000.0, 50000.0)
 9135      (600000.0, 75000.0)
 9146      (337500.0, 42187.5)
 9147      (325000.0, 40625.0)
 Length: 1132, dtype: object,
 'skill_2': 14      (1500000.0, 187500.0)
 15        (550000.0, 68750.0)
 16        (350000.0, 43750.0)
 19        (237500.0, 29687.5)
 21        (562500.0, 70312.5)
                 ...
 9109      (325000.0, 40625.0)
 9112      (400000.0, 50000.0)
 9135      (600000.0, 75000.0)
 9146      (337500.0, 42187.5)
 9147      (325000.0, 40625.0)
 Length: 1132, dtype: object,
 'skill_3': 14      (1500000.0, 187500.0)
 15        (550000.0, 68750.0)
 16        (350000.0, 43750.0)
 19        (237500.0, 29687.5)
 21        (562500.0, 70312.5)
                 ...
 9109      (325000.0, 40625.0)
 9112      (400000.0, 50000.0)
 9135      (600000.0, 75000.0)
 9146      (337500.0, 42187.5)
 9147      (325000.0, 40625.0)
 Length: 1132, dtype: object,
 'skill_4': 14      (1500000.0, 187500.0)
 15        (550000.0, 68750.0)
 16        (350000.0, 43750.0)
 19        (237500.0, 29687.5)
 21        (562500.0, 70312.5)
                 ...
 9109      (325000.0, 40625.0)
 9112      (400000.0, 50000.0)
 9135      (600000.0, 75000.0)
 9146      (337500.0, 42187.5)
 9147      (325000.0, 40625.0)
 Length: 1132, dtype: object,
 'skill_5': 14      (1500000.0, 187500.0)
 15        (550000.0, 68750.0)
 16        (350000.0, 43750.0)
 19        (237500.0, 29687.5)
 21        (562500.0, 70312.5)
                 ...
 9109      (325000.0, 40625.0)
 9112      (400000.0, 50000.0)
 9135      (600000.0, 75000.0)
 9146      (337500.0, 42187.5)
 9147      (325000.0, 40625.0)
 Length: 1132, dtype: object,
 'skill_6': 14      (1500000.0, 187500.0)
 15        (550000.0, 68750.0)
 16        (350000.0, 43750.0)
 19        (237500.0, 29687.5)
 21        (562500.0, 70312.5)
                 ...
 9109      (325000.0, 40625.0)
 9112      (400000.0, 50000.0)
 9135      (600000.0, 75000.0)
 9146      (337500.0, 42187.5)
 9147      (325000.0, 40625.0)
 Length: 1132, dtype: object,
 'skill_7': 14      (1500000.0, 187500.0)
 15        (550000.0, 68750.0)
 16        (350000.0, 43750.0)
 19        (237500.0, 29687.5)
 21        (562500.0, 70312.5)
                 ...
 9109      (325000.0, 40625.0)
 9112      (400000.0, 50000.0)
 9135      (600000.0, 75000.0)
 9146      (337500.0, 42187.5)
 9147      (325000.0, 40625.0)
 Length: 1132, dtype: object,
 'skill_8': 14      (1500000.0, 187500.0)
 15        (550000.0, 68750.0)
 16        (350000.0, 43750.0)
 19        (237500.0, 29687.5)
 21        (562500.0, 70312.5)
                 ...
 9109      (325000.0, 40625.0)
 9112      (400000.0, 50000.0)
 9135      (600000.0, 75000.0)
 9146      (337500.0, 42187.5)
 9147      (325000.0, 40625.0)
 Length: 1132, dtype: object}

In [1210]:
skills_columns = ["skill_1", "skill_2", "skill_3", "skill_4", "skill_5", "skill_6", "skill_7", "skill_8"]
skill_value_dict = {}

# Iterate over each skill column
for skill in skills_columns:
    skill_value_dict[skill] = data.apply(
        lambda row: [row[skill], row["average_range"] / 8] if pd.notnull(row[skill]) else None,
        axis=1
    ).tolist()

print(skill_value_dict.keys('skill_1'))

TypeError: dict.keys() takes no arguments (1 given)

In [1190]:
def calculate_average_skill_values(skill_dicts):
    skill_averages = {}
    
    # Initialize dictionaries to store sum and count for each skill
    skill_sums = {}
    skill_counts = {}
    
    # Iterate through each dictionary
    for key, skill_dict in skill_dicts.items():
        # Iterate through each skill and value in the dictionary
        for skill_info in skill_dict:
            skill_name = skill_info[0]  # Assuming skill name is the first element in the list
            value = skill_info[1]       # Assuming value is the second element in the list
            
            if skill_name not in skill_sums:
                skill_sums[skill_name] = 0
                skill_counts[skill_name] = 0
            
            if isinstance(value, (int, float)):
                skill_sums[skill_name] += value
                skill_counts[skill_name] += 1
    
    # Calculate averages for each skill
    for skill_name in skill_sums:
        if skill_counts[skill_name] > 0:
            skill_averages[skill_name] = skill_sums[skill_name] / skill_counts[skill_name]
        else:
            skill_averages[skill_name] = 0  # Handle case where no valid values were found
    
    return skill_averages
average_skill_values = calculate_average_skill_values(skill_value_dict)
print("Average skill values:")
for skill_name, avg_value in average_skill_values.items():
    print(f"{skill_name}: {avg_value}")

TypeError: 'NoneType' object is not subscriptable