In [ ]:
import pandas as pd 
import numpy as np

### So our data is very dirty and messy we have many issues

# Summary of the data

### issues with the data set
# Dirty Data Issues
    Missing Values:
        In the paid column for most entries (e.g., "Not disclosed").
        In the review and posted_days columns for some entries (e.g., row 4, 4976, 4977, 4978).
    Inconsistent Formats:
        ex_year column has inconsistent formats like "1-4 Yrs" and "2-3 Yrs".
        posted_days column has inconsistent formats like "Just Now", "1 Day Ago", "22 Days Ago", "No data".
    Incorrect Data Entries:
        In the about column, special characters and encoding issues, such as "Bachelor s" instead of "Bachelor's".
        In the title column, "Data Scientist/Data Analyst" instead of "Data Scientist/Data Analyst".
    Duplicates:
        Potential duplicate entries based on title and companie columns need to be checked.
# Messy Data Issues
    Unstructured or Poorly Structured Data:

        about column contains long, unstructured text which can be difficult to process.
        tags column contains multiple skills/attributes concatenated with hyphens.
    Inconsistent Naming Conventions:

        title column has inconsistent use of capitalization (e.g., "Mis Executive" vs "MIS Executive").
        companie column has entries like "One of the premium client of Vector Recruitment Consultancy" which is verbose and inconsistent.
    Mixed Data Types:

        review column has numeric values but also entries like "No data".
        paid column has "Not disclosed" mixed with numeric salary ranges.
    Excessive Cleaning Required:

        about column often has fragmented sentences and mixed information that require extensive cleaning to be useful.
        The tags column will need splitting and normalization to be useful for analysis.
# Detailed Breakdown of Issues in Provided Data
### Dirty Data
    Missing Values:

        paid: Most entries have "Not disclosed".
        review: Some entries have "No data" (e.g., row 4, 4976, 4977, 4978).
        posted_days: Some entries have "No data" (e.g., row 4, 4976, 4977, 4978).
    Inconsistent Formats:

        ex_year: Inconsistent formats like "1-4 Yrs" and "2-3 Yrs".
        posted_days: Inconsistent formats like "Just Now", "1 Day Ago", "22 Days Ago".
    Incorrect Data Entries:

        about: Encoding issues such as "Bachelor s" instead of "Bachelor's".
        title: Incorrect escaping like "Data Scientist/Data Analyst".
    Duplicates:

        Potential duplicates need checking based on title and companie.
### Messy Data
    Unstructured or Poorly Structured Data:

        about: Long, unstructured text.
        tags: Multiple skills concatenated with hyphens.
    Inconsistent Naming Conventions:

        title: Inconsistent capitalization.
        companie: Verbose and inconsistent naming.
    Mixed Data Types:

        review: Numeric values and "No data".
        paid: "Not disclosed" mixed with numeric ranges.
    Excessive Cleaning Required:

        about: Fragmented sentences and mixed information.
        tags: Needs splitting and normalization.

In [ ]:
import pandas as pd

# Specify the engine as 'openpyxl'
analyst = pd.read_excel(r"C:\Users\Dell\OneDrive\Desktop\advance web scraping\Nakri_data_set\Skill_Gap_Analysis_Tool\Data\data_analiystjobs_data.xlsx", engine='openpyxl')
science = pd.read_excel(r"C:\Users\Dell\OneDrive\Desktop\advance web scraping\Nakri_data_set\data_scienetist_jobs_data.xlsx", engine='openpyxl')
software = pd.read_excel(r"C:\Users\Dell\OneDrive\Desktop\advance web scraping\Nakri_data_set\Skill_Gap_Analysis_Tool\Data\software_jobs_data.xlsx", engine='openpyxl')
web = pd.read_excel(r"C:\Users\Dell\OneDrive\Desktop\advance web scraping\Nakri_data_set\Skill_Gap_Analysis_Tool\Data\web_dev_jobs_data.xlsx", engine='openpyxl')
science.rename(columns={'title ': 'title'}, inplace=True)

# Merge the data frames into a single data frame
df = pd.concat([analyst, science, software, web], axis=0, ignore_index=True)

In [ ]:
# `# pd.reset_option('all')
# science.rename(columns={'title ': 'title'}, inplace=True)
# # web.columns
# # df.columns
# df`

pd.reset_option('all')

In [ ]:

# Now set the display options again
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)  # Use -1 for pandas versions before 1.0

In [ ]:
df

In [ ]:
df.tail()

In [ ]:
df

In [ ]:
df.info()

In [ ]:
# df[df['title'] ==  'Data Analyst (Vietnamese)'].str.replace('Data Analyst (Vietnamese)','Data Analyst')
# df['Job post length'] = df['title'].str.len()
# df['Job post length'].value_counts().sort_index()

# # df['Job post length']  = df['Job post length'].astype(int)
# df['min_year'] = df['ex_year'].str.replace(' Yrs', '').str.split('-',expand=True)[0]
# df['max_year'] = df['ex_year'].str.replace(' Yrs', '').str.split('-',expand=True)[1]

In [ ]:
import re
# def count_words(row):
#     # Split the row by spaces and commas
#     words = re.split(r'[ ,]+', row)
#     # Filter out numbers
#     words = [word for word in words if not word.isdigit()]
#     # Return the word count
#     return len(words)
def branch_count(number):
    # Return 1 if number is greater than 2, otherwise return 0
    if number > 2:
        return 1
    else:
        return 0

# Apply the branch_count function to the 'more_branch' column
df['+3_branches'] = df['more_branch'].apply(branch_count)
df1= df.copy()

In [ ]:
df = df1
df

In [ ]:
# Find the index of rows where 'posted_days' is 'Just Now'
just_now_index = df[df['posted_days'] == 1].index

# Update the 'Just Now' column to 1 for those rows using .loc
df.loc[just_now_index, 'posted_days'] = 0

In [ ]:
df['days'] = df['posted_days'].str.split( " ",expand=True)[0]

In [ ]:
df['posted_days'].value_counts()

In [ ]:
# df['days'] = df['posted_days'].str.split(" ",expand=True)[0]
# df['days'] = df['days'].str.replace('Starts' , '-90').replace('Few', '1').replace('Today', '0').replace('No', '4')
# df['days'] = df['days'].astype(int)
# df.drop(columns=['Just Now'],inplace=True)
# df['ex_year'].str.replace('Yrs')
df

In [ ]:
df['days'] = df['posted_days'].str.split(" ",expand=True)[0]
df['days'] = df['days'].str.replace('Starts' , '-90').replace('Few', '1').replace('Today', '0').replace('No', '4')
# df['days'] = df['days'].astype(int)

df['days']=  df['days'].str.replace('Just','1')

def convert_to_int(value):
    if value.endswith('+'):
        return int(value[:-1])
    elif value.startswith('+'):
        return int(value[1:])
    else:
        return int(value)

# Apply the function to the column
df['days'] = df['days'].apply(convert_to_int)
df

In [ ]:
# df['min_year'] = df['min_year'].fillna('0')
# df['max_year'] = df['max_year'].fillna('0')
# df['max_year'] = df['max_year'].str.replace('No data', '0')
# df['min_year'] = df['min_year'].str.replace('No data', '0')

# df['min_year'] = df['min_year'].astype(int)
# df['max_year'] = df['max_year'].astype(int)

# # df['max_year'].value_counts()

df['paid'] = df['paid'].str.replace('Unpaid','0-0')
df['paid'] = df['paid'].str.replace(' PA','')
df['tags'].str.split('-',expand=True).info()

In [ ]:
# df['skill_1'] = df['tags'].str.split('-',expand=True)[0]
# df['skill_2'] = df['tags'].str.split('-',expand=True)[1]
# df['skill_3'] = df['tags'].str.split('-',expand=True)[2]
# df['skill_4'] = df['tags'].str.split('-',expand=True)[3]
# df['skill_5'] = df['tags'].str.split('-',expand=True)[4]
# df['skill_6'] = df['tags'].str.split('-',expand=True)[5]
# df['skill_7'] = df['tags'].str.split('-',expand=True)[6]
# df['skill_8'] = df['tags'].str.split('-',expand=True)[7]
# df['skill_9'] = df['tags'].str.split('-',expand=True)[8]
# df['skill_10'] = df['tags'].str.split('-',expand=True)[9]
# df

In [ ]:
# df['tags']

In [ ]:
# df.drop(columns=['ex_year'],inplace=True)

In [ ]:
# df.drop(columns=['posted_days'],inplace=True)

In [ ]:
df = df1 
df.columns

In [ ]:
!huggingface-cli login

In [ ]:
!pip install transformers

In [ ]:
# import pandas as pd
# from transformers import pipeline

# # Load the pre-trained language model for text generation
# text_generator = pipeline('text-generation', model='gpt2')

# # Sample data (replace with your actual DataFrame)
# data = pd.Series([
#     "Proven experience as inventory manager or similar position.",
#     ". Data collection, processing and analysing the data and generating the reports provide...",
#     "Bachelor's degree in Marketing, Business, or a related field. 1-2 years of hands-on ex...",
#     # Add more rows as needed
# ])

# # Function to complete text using the GPT-2 model
# def complete_text(text):
#     if text.endswith('...'):
#         # Generate completion using the language model
#         completion = text_generator(text, max_length=100, num_return_sequences=1)
#         completed_text = completion[0]['generated_text']
#         return completed_text
#     return text

# # Apply the function to the dataset
# data_completed = data.apply(complete_text)

# # Print the cleaned and completed dataset
# print(data_completed)

In [ ]:
# import pandas as pd
# from transformers import pipeline

# # Load the pre-trained language model for text generation
# text_generator = pipeline('text-generation', model='gpt2')

# # Sample data

# # Function to complete text using GPT model
# # df = pd.DataFrame(data)

# # Function to complete text using GPT-2 model
# def complete_text(text):
#     if text.endswith('...'):
#         # Generate completion using the language model
#         completion = text_generator(text, max_length=100, num_return_sequences=1)
#         completed_text = completion[0]['generated_text']
#         return completed_text
#     return text

# # Apply the function to the 'about' column of the DataFrame
# df['about'] = df['about'].apply(complete_text)

# # Print the cleaned and completed dataset
# print(df['about'])

In [375]:
df['is_remote'] = df['location'].apply(lambda x: 1 if x == 'Remote' else 0)


df

# Update 'is_remote' column where 'about' column contains 'Remote'
# df.loc[, 'is_remote'] = 1
df['review'].value_counts()

No data    3455
4.0         808
4.1         531
4.2         447
3.8         412
3.9         397
4.3         359
3.7         343
3.6         317
5.0         303
3.5         285
4.4         257
3.4         238
4.5         205
4.7         191
4.8         159
3.3         152
3.2         151
4.6         144
3.0         137
2.9         121
3.1         116
4.9         112
2.8          81
2.7          56
2.3          51
2.5          49
2.6          49
2.0          48
2.1          41
2.2          34
2.4          33
1.0          31
1.3          27
1.9          24
1.5          22
1.2          21
1.7          19
1.8          18
1.6          15
1.1          13
1.4          11
Name: review, dtype: int64

,title,companie,paid,location,about,tags,review,Job post length,min_year,max_year,...,skill_1,skill_2,skill_3,skill_4,skill_5,skill_6,skill_7,skill_8,skill_9,skill_10
737,"Senior Analyst, Home & Auto and Digital",Synchrony,Not disclosed,Hyderabad,"This position is remote, where you have the option to work from home. Key Responsibilit...",SAS-SQL-Python-Digital-Auto-Senior,4.4,39,0,2,...,SAS,SQL,Python,Digital,Auto,Senior,None,None,None,None
908,Founding Data Engineer,Zolnoi,Not disclosed,Bengaluru,This role will initially be remote and gradually transition to a hybrid model with the...,Cloud computing-SAAS-Machine learning-Cloud-Transition-Transformers-Data analytics-data visualization,No data,22,1,5,...,Cloud computing,SAAS,Machine learning,Cloud,Transition,Transformers,Data analytics,data visualization,None,None
1271,GCP Cloud Data Engineer - Data Integration & Warehousing,Victrix Systems And Labs,Not disclosed,"Mumbai, Delhi / NCR, Bengaluru",We are seeking a talented Cloud Data Engineer to join our team on a remote basis.The id...,GCP Cloud-BigQuery-Data Pipeline-Google Cloud Platform-Cloud-Big Data-Kafka-Data Warehousing,4.4,56,2,7,...,GCP Cloud,BigQuery,Data Pipeline,Google Cloud Platform,Cloud,Big Data,Kafka,Data Warehousing,None,None
1833,GIS Analysts/Sr. GIS Analyst - Agri/Remote Sensing,Amnex,Not disclosed,Ahmedabad,Experience in Agriculture field is preferable . . . . . . . . GIS and remote sensing so...,GIS-Data analysis-Image processing-Data collection-Database-GIS software-GIS Analyst-Remote sensing,3.5,50,2,6,...,GIS,Data analysis,Image processing,Data collection,Database,GIS software,GIS Analyst,Remote sensing,None,None
2579,Data Engineer,Fusemachines,Not disclosed,Pune,"This is a remote, contract position responsible for designing, building, and maintainin...",Data modeling-Project management-MySQL-Active directory-Agile-Apache-Troubleshooting-Open source,No data,13,1,4,...,Data modeling,Project management,MySQL,Active directory,Agile,Apache,Troubleshooting,Open source,None,None
4582,MIS Executive,Optical Arc,Not disclosed,Pune,"The job location is in Pune, Maharashtra, India, and can be performed remotely or part-...",PLM-Excel-Data management-Database management-Management systems-Information security-Analytical-DBMS,2.7,13,1,3,...,PLM,Excel,Data management,Database management,Management systems,Information security,Analytical,DBMS,None,None
12392,Content Writer,Skajn Marketing Technologies,6-11,Remote,Flex hours and remote work from home is our standard practice. You Love at least two TV...,Blog Writing-Content Writing-Creative Writing-Web Content-Copy Writing-SEO Writing-blogs-Script Writing,No data,14,2,5,...,Blog Writing,Content Writing,Creative Writing,Web Content,Copy Writing,SEO Writing,blogs,Script Writing,None,None
12570,Graphic Designer,Eglogics Softech,Not disclosed,Noida,"Who can work remotely in current situation, and after the lockdown we will hire her / h...",Graphics-Digital media-Media marketing-Software design-Illustration-Corel Draw-Animation-Photoshop,4.8,16,0,2,...,Graphics,Digital media,Media marketing,Software design,Illustration,Corel Draw,Animation,Photoshop,None,None
13171,Web Developer,Posttely,Not disclosed,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru",This is a full-time remote role for a Web Developer The Web Developer will be resp...,Front end-Social media-Web development-PHP-Scheduling-Account management-Information technology-Analytics,No data,13,1,4,...,Front end,Social media,Web development,PHP,Scheduling,Account management,Information technology,Analytics,None,None
14317,Python Developer,Posttely,Not disclosed,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru",Experience in Databases . Ability to work in a team environment remotely . Excellent pr...,Front end-Social media-Web development-Javascript-Agile-HTML-Troubleshooting-Information technology,No data,16,2,5,...,Front end,Social media,Web development,Javascript,Agile,HTML,Troubleshooting,Information technology,None,None
14519,Business Development Executive,Aldiserv,Not disclosed,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru","This is a remote part-time role requiring 5 hours of work per day, Monday to Friday no ...",Cold calling-Sales-Time management-Web development-Scheduling-Business Development Executive-Digital marketing-Inside sales,No data,30,0,3,...,Cold calling,Sales,Time management,Web development,Scheduling,Business Development Executive,Digital marketing,Inside sales,None,None
16827,Shopify Developer,Heptarc,Not disclosed,Remote,This is a remote freelance roleExperience with responsive and mobile-friendly web desig...,CSS-PDF-Web development-Javascript-payment gateways-E-commerce-HTML-Web designing,No data,17,1,6,...,CSS,PDF,Web development,Javascript,payment gateways,E,commerce,HTML,Web designing,None

Bengaluru                                                                                 1443
Noida                                                                                      906
New Delhi                                                                                  751
Gurugram                                                                                   727
Mumbai                                                                                     516
Hyderabad                                                                                  488
Pune                                                                                       467
Delhi                                                                                      355
Chennai                                                                                    328
Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru                            294
Remote                                                                                     283
Ahmedabad                                                                                  202
Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru     135
Kolkata                                                                                    122
Gurgaon                                                                                    120
Jaipur                                                                                      97
Surat                                                                                       75
Coimbatore                                                                                  71
Mohali                                                                                      66
Kochi                                                                                       56
Vadodara                                                                                    49
Mumbai (All Areas)                                                                          46
Nagpur                                                                                      41
Faridabad                                                                                   40
Indore                                                                                      39
Gurgaon/Gurugram                                                                            38
Delhi / NCR                                                                                 37
Thane                                                                                       36
Ghaziabad                                                                                   34
Lucknow                                                                                     31
Name: location, dtype: int64

In [358]:
df['location'] = df['location'].str.replace('Delhi / NCR', 'Gurugram').replace('Gurgaon','Gurugram').replace('Gurgaon/Gurugram','Gurugram')
df['location'].value_counts()

Bengaluru                                                1443
Gurugram                                                  922
Noida                                                     906
New Delhi                                                 751
Mumbai                                                    516
                                                         ...
Mumbai(Nariman Point)                                       1
Kolkata(Chinar Park +4)                                     1
Mumbai, Hyderabad, Pune, Chennai, Gurugram, Bengaluru       1
Hybrid - Bangalore Rural, Gurugram                          1
haveri                                                      1
Name: location, Length: 1127, dtype: int64